h1 {
  font-family: sans-serif;
}
body {
  font-family: sans-serif;
  background-color: #FFE;
}
a {
  color: #900;
  text-decoration: none;
}
img {
  border: 2px solid black;
}
.container {
  padding: 10px;
  border: 1px;
}

.specialheader {
  color: #887
}
